{% extends '_partials/main.html' %}

{% block content %}
      <h2>Welcome to Estes Sites</h2>
      <p class="home">
        We are a group of high school technical theater kids who know how to make websites.
        We will make websites for local buisnesses for a low price and all revinu will go to the high school technical theater program
      </p>
      <p class="additional">We offer multiple teirs of pricing depending on what you want view them <a href="/prices/">here</a></p>
      <p class="additional">View other sites we have made <a href="sites">here</a></p>
{% endblock content %}
